<h1>Taxi Trip Fare Data 2023</h1>
<p>A dataset of taxi trip details, including fare, distance, and payment type.</p>
<h2>About Dataset</h2>
<p>This dataset contains detailed information about taxi trips, including passenger count, trip distance, payment type, fare amount, and trip duration. It is useful for various data analysis and machine learning applications, such as fare prediction and ride pattern analysis.</p>
<h2>Data Source</h2>
<p><strong>Kaggle:</strong> <a href="https://www.kaggle.com/datasets/hrish4/taxi-trip-fare-data-2023">taxi-trip-fare-data-2023</a></p>
<h2>Pricing Policy</h2>
The fare calculation in this project adheres to the official pricing policy provided by the fictional taxi company stakeholder:
<table>
<tr>
<th>Component</th>
<th>Rate</th>
<th>Applied To</th>
</tr>
<tr>
<td>Base Fare</td>
<td>$3.00</td>
<td>All trips(flat fee)</td>
</tr>
<tr>
<td>Per-Mile Charge</td>
<td>$2.50</td>
<td>trip_distance(miles)</td>
</tr>
<tr>
<td>Per-Minute Charge</td>
<td>$0.50</td>
<td>duration(minutes)</td>
</tr>
</table>
<strong>Industry Reference:</strong>
<p>Rates Align with NYC TLC's yellow taxi base fare ($3.00) and per-mile ($2.00) as of 2023 (<a href="https://www.nyc.gov/site/tlc/passengers/taxi-fare.page">Source</a>)</p>

In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

# 1. Data Preprocessing

In [2]:
df = pd.read_csv("datasets/Taxi_Trip_Data_preprocessed.csv")
df.head()

   passenger_count  trip_distance payment_type  fare_amount   duration
0                1           3.70         Card         24.0  27.950000
1                1           2.77         Card         18.4  19.200000
2                1           3.30         Card         22.6  27.383333
3                1           0.30         Cash          5.1   2.550000
4                1           0.83         Card          7.2   5.250000

In [3]:
df.shape

(8451090, 5)

## 1. Data Missing

In [4]:
df.isnull().sum()

passenger_count    0
trip_distance      0
payment_type       0
fare_amount        0
duration           0
dtype: int64

## 2. Data Duplicate

In [7]:
df.duplicated(keep=False).sum()

np.int64(6691280)

In [8]:
duplicates = df.duplicated()
df[duplicates].head()

      passenger_count  trip_distance payment_type  fare_amount  duration
702                 1           1.12         Card          9.3  8.133333
1698                2           0.73         Card          5.8  3.500000
2445                1           1.00         Card          7.2  5.316667
2684                1           0.60         Card          5.8  3.016667
2988                1           0.70         Card          6.5  4.500000

In [15]:
frequent = df.groupby(df.columns.tolist()).size().reset_index(name='Frequency')
frequent.sort_values(by='Frequency', ascending=False).head()

,passenger_count,trip_distance,payment_type,fare_amount,duration,Frequency
117998,1,0.7,Card,6.5,4.583333,212
117989,1,0.7,Card,6.5,4.433333,208
118004,1,0.7,Card,6.5,4.683333,206
117996,1,0.7,Card,6.5,4.550000,205
87321,1,0.6,Card,5.8,3.983333,201