<img src="project4-logo.png" alt="Logo" style="border-radius: 50%; width: 150px; height: 150px; object-fit: cover; margin: auto; display: block;">
<center><h1>Fecom Marketplace Revenue Growth Analysis</h1></center>
<h2>Fecom Inc. (e-Com Marketplace Orders Data)</h2>
<p>A suitable data for CRM & Sales Opportunities & Marketing analytics practice.</p>
<h2>About Dataset</h2>
<p>Welcome to the Fecom Inc.! <br>
Fecom Inc. is a fictional e-commerce marketplace company based in Berlin, Germany. Between 2022 and 2024, it recorded 99,441 orders from 102,727 unique customers and tracked all commercial transactions of 3,095 sellers.<br>
This dataset contains commercial data across 338 cities in 28 countries and includes various details about customers and orders, allowing for CRM, sales opportunity, or marketing analysis. The data includes order dates, delivery dates, cart values, shipping costs, order reviews and ratings, payment methods and much more.<br>
Since the marketplace is not limited to a specific product, it features 32,951 distinct products across 72 different categories.</p>
<img src="data-structure.png" alt="Data Structure" width="40%" height="40%">

<h2>Data Source</h2>
<h3>Kaggle</h3>
<a href="https://www.kaggle.com/datasets/cemeraan/fecom-inc-e-com-marketplace-orders-data-crm/">Click Here!!!</a>

In [1]:
import pandas as pd

In [11]:
df_products = pd.read_csv('datasets/Fecom Inc Products.csv', sep=';',header=0)
df_products.head()

,Product_ID,Product_Category_Name,Product_Weight_Gr,Product_Length_Cm,Product_Height_Cm,Product_Width_Cm
0,1e9e8ef04dbcff4541ed26657ea517e5,Perfumery,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,Art,1000.0,30.0,18.0,20.0
2,96bd76ec8810374ed1b65e291975717f,Sports_Leisure,154.0,18.0,9.0,15.0
3,cef67bcfe19066a932b7673e239eb23d,Baby,371.0,26.0,4.0,26.0
4,9dc1a7de274444849c219cff195d0b71,Housewares,625.0,20.0,17.0,13.0

In [12]:
df_orders = pd.read_csv('datasets/Fecom Inc Orders.csv', sep=';',header=0)
df_orders.head()

,Order_ID,Customer_Trx_ID,Order_Status,Order_Purchase_Timestamp,Order_Approved_At,Order_Delivered_Carrier_Date,Order_Delivered_Customer_Date,Order_Estimated_Delivery_Date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2023-10-02 10:56,2023-10-02 11:07,2023-10-04 19:55,2023-10-10 21:25,2023-10-18 00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2024-07-24 20:41,2024-07-26 03:24,2024-07-26 14:31,2024-08-07 15:27,2024-08-13 00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2024-08-08 08:38,2024-08-08 08:55,2024-08-08 13:50,2024-08-17 18:06,2024-09-04 00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2023-11-18 19:28,2023-11-18 19:45,2023-11-22 13:39,2023-12-02 00:28,2023-12-15 00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2024-02-13 21:18,2024-02-13 22:20,2024-02-14 19:46,2024-02-16 18:17,2024-02-26 00:00