<img src="project4-logo.png" alt="Logo" style="border-radius: 50%; width: 150px; height: 150px; object-fit: cover; margin: auto; display: block;">
<center><h1>Fecom Marketplace Revenue Growth Analysis</h1></center>
<h2>Fecom Inc. (e-Com Marketplace Orders Data)</h2>
<p>A suitable data for CRM & Sales Opportunities & Marketing analytics practice.</p>
<h2>About Dataset</h2>
<p>Welcome to the Fecom Inc.! <br>
Fecom Inc. is a fictional e-commerce marketplace company based in Berlin, Germany. Between 2022 and 2024, it recorded 99,441 orders from 102,727 unique customers and tracked all commercial transactions of 3,095 sellers.<br>
This dataset contains commercial data across 338 cities in 28 countries and includes various details about customers and orders, allowing for CRM, sales opportunity, or marketing analysis. The data includes order dates, delivery dates, cart values, shipping costs, order reviews and ratings, payment methods and much more.<br>
Since the marketplace is not limited to a specific product, it features 32,951 distinct products across 72 different categories.</p>
<img src="data-structure.png" alt="Data Structure" width="40%" height="40%">

<h2>Data Source</h2>
<h3>Kaggle</h3>
<a href="https://www.kaggle.com/datasets/cemeraan/fecom-inc-e-com-marketplace-orders-data-crm/">Click Here!!!</a>

In [4]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

# 1. Data Preprocessing

## 1. Data collection

In [6]:
df_products = pd.read_csv('datasets/Fecom Inc Products.csv', sep=';',header=0)
df_customers = pd.read_csv('datasets/Fecom Inc Customer List.csv', sep=';',header=0)
df_geo = pd.read_csv('datasets/Fecom Inc Geolocations.csv', sep=';',header=0)
df_or_item = pd.read_csv('datasets/Fecom Inc Order Items.csv', sep=';',header=0)
df_or_pay = pd.read_csv('datasets/Fecom Inc Order Payments.csv', sep=';',header=0)
df_orders = pd.read_csv('datasets/Fecom Inc Orders.csv', sep=';',header=0)
df_seller = pd.read_csv('datasets/Fecom Inc Sellers List.csv', sep=';',header=0)
df_or_reviews = pd.read_csv('datasets/Fecom_Inc_Order_Reviews_No_Emojis.csv', sep=';',header=0)

In [7]:
dataframes = {
    'Products': df_products,
    'Customers': df_customers,
    'Geo': df_geo,
    'Order Items': df_or_item,
    'Order Payments': df_or_pay,
    'Orders': df_orders,
    'Sellers': df_seller,
    'Order Reviews': df_or_reviews
}

In [10]:
for name, df in dataframes.items():
    print(f"Head of {name}:")
    display(df.head())

Head of Products:

,Product_ID,Product_Category_Name,Product_Weight_Gr,Product_Length_Cm,Product_Height_Cm,Product_Width_Cm
0,1e9e8ef04dbcff4541ed26657ea517e5,Perfumery,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,Art,1000.0,30.0,18.0,20.0
2,96bd76ec8810374ed1b65e291975717f,Sports_Leisure,154.0,18.0,9.0,15.0
3,cef67bcfe19066a932b7673e239eb23d,Baby,371.0,26.0,4.0,26.0
4,9dc1a7de274444849c219cff195d0b71,Housewares,625.0,20.0,17.0,13.0

Head of Customers:

,Customer_Trx_ID,Subscriber_ID,Subscribe_Date,First_Order_Date,Customer_Postal_Code,Customer_City,Customer_Country,Customer_Country_Code,Age,Gender
0,1e959e1f5920cba43823fa9f95673b83,9765e039028279fd2e60bb620a451526,2023-07-08,2023-07-09,FR-75005,Paris,France,FR,29,Male
1,9877437582f263da7d7e30a90c57b8bb,a75e134e7eb6f96e2b0c716ac2a82efb,2024-03-23,2024-04-11,PL-00-001,Warsaw,Poland,PL,38,Male
2,fa6fbbb2080646acae977bf2e44af98b,2fdac27295500e820e43910e9a0aa8d8,2023-05-12,2023-06-01,NL-1012,Amsterdam,Netherlands,NL,35,Female
3,a4c9ff14ae7620126461ca55f36a76ea,e9ab8fd8ea96c85be2714c7f573fb7cd,2023-04-16,2023-04-26,IT-00144,Rome,Italy,IT,62,Male
4,93d5e378ae2f72a07db704f1f6716a7e,6384e6a7b021717616f25625b4bb0bf9,2023-05-26,2023-06-27,NL-1011,Amsterdam,Netherlands,NL,19,Male

Head of Geo:

  Geo_Postal_Code  Geo_Lat Geo_Lon  Geolocation_City  Geo_Country
0         NL-5211  51,7000  5,3167  's-Hertogenbosch  Netherlands
1         NL-5212  51,7000  5,3167  's-Hertogenbosch  Netherlands
2         NL-5213  51,7000  5,3167  's-Hertogenbosch  Netherlands
3         NL-5214  51,7000  5,3167  's-Hertogenbosch  Netherlands
4         NL-5215  51,7000  5,3167  's-Hertogenbosch  Netherlands

Head of Order Items:

,Order_ID,Order_Item_ID,Product_ID,Seller_ID,Shipping_Limit_Date,Price,Freight_Value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2023-09-19 09:45,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2023-05-03 11:05,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2024-01-18 14:48,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2024-08-15 10:10,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2023-02-13 13:57,199.90,18.14

Head of Order Payments:

,Order_ID,Payment_Sequential,Payment_Type,Payment_Installments,Payment_Value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71
3,ba78997921bbcdc1373bb41e913ab953,1,credit_card,8,107.78
4,42fdf880ba16b47b59251dd489d4441a,1,credit_card,2,128.45

Head of Orders:

,Order_ID,Customer_Trx_ID,Order_Status,Order_Purchase_Timestamp,Order_Approved_At,Order_Delivered_Carrier_Date,Order_Delivered_Customer_Date,Order_Estimated_Delivery_Date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2023-10-02 10:56,2023-10-02 11:07,2023-10-04 19:55,2023-10-10 21:25,2023-10-18 00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2024-07-24 20:41,2024-07-26 03:24,2024-07-26 14:31,2024-08-07 15:27,2024-08-13 00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2024-08-08 08:38,2024-08-08 08:55,2024-08-08 13:50,2024-08-17 18:06,2024-09-04 00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2023-11-18 19:28,2023-11-18 19:45,2023-11-22 13:39,2023-12-02 00:28,2023-12-15 00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2024-02-13 21:18,2024-02-13 22:20,2024-02-14 19:46,2024-02-16 18:17,2024-02-26 00:00

Head of Sellers:

,Seller_ID,Seller_Name,Seller_Postal_Code,Seller_City,Country_Code,Seller_Country
0,d1b65fc7debc3361ea86b5f14c68d2e2,NeuroLabsX,DE-14469,Potsdam,DE,Germany
1,51a04a8a6bdcb23deccc82b0b80742cf,SwiftLabs,DE-6108,Halle (Saale),DE,Germany
2,e49c26c3edfa46d227d5121a6b6e4d37,EcoFutures,ES-33003,Oviedo,ES,Spain
3,1b938a7ec6ac5061a66a3766e0e75f90,HyperHub,DE-6112,Halle (Saale),DE,Germany
4,a7a9b880c49781da66651ccf4ba9ac38,EliteAI,DE-18069,Rostock,DE,Germany

Head of Order Reviews:

,Review_ID,Order_ID,Review_Score,Review_Comment_Title_En,Review_Comment_Message_En,Review_Creation_Date,Review_Answer_Timestamp
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,NaN,NaN,2024-01-18 00:00,2024-01-18 21:46
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,NaN,NaN,2024-03-10 00:00,2024-03-11 03:05
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,NaN,NaN,2024-02-17 00:00,2024-02-18 14:36
3,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,5,NaN,I received it well before the stipulated deadl...,2023-04-21 00:00,2023-04-21 22:02
4,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,5,NaN,"Congratulations lannister stores, I loved shop...",2024-03-01 00:00,2024-03-02 10:26

## 2. Missing Data

In [14]:
null_values = []

for name, df in dataframes.items():
    null_count = df.isnull().sum().reset_index()
    null_count.columns = ['Column', 'Null Count']
    null_count['DataFrame'] = name
    null_values.append(null_count)

null_values_df = pd.concat(null_values)
null_values_df = null_values_df[null_values_df['Null Count'] > 0]

In [15]:
null_values_df

                          Column  Null Count      DataFrame
1          Product_Category_Name         623       Products
2              Product_Weight_Gr           2       Products
3              Product_Length_Cm           2       Products
4              Product_Height_Cm           2       Products
5               Product_Width_Cm           2       Products
0                Customer_Trx_ID        3286      Customers
3               First_Order_Date        3286      Customers
0                Geo_Postal_Code      998478            Geo
1                        Geo_Lat      998478            Geo
2                        Geo_Lon      998478            Geo
3               Geolocation_City      998478            Geo
4                    Geo_Country      998478            Geo
4              Order_Approved_At         160         Orders
5   Order_Delivered_Carrier_Date        1783         Orders
6  Order_Delivered_Customer_Date        2965         Orders
3        Review_Comment_Title_En       87682  Order Reviews
4      Review_Comment_Message_En       58347  Order Reviews